body {
  background-color: #0D1117;
}

i:hover {
  color: tomato;
}

.container {
  max-width: 400px;
}

input[type=text],
input[type=text]:focus {
  color: #fff;
  border: none;
  background: rgba(0,0,0,0.2);
  max-width: 400px;
}

/* .todos-container li {
  background: #484E53;
  background: #697179;
} */

.todo-pair {
  background: #6A8BB4;
}
.todo-odd {
  background: #345574;
}

i[data-trash] {
  cursor: pointer;
}